<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastcampus.shop.dao.CartDao">

    <resultMap id="CartResultMap" type="com.fastcampus.shop.dto.CartDto">
        <id     column="cart_id"       property="cartId"/>
        <result column="member_id"     property="memberId"/>
        <result column="session_token" property="sessionToken"/>
        <result column="product_id"    property="productId"/>
        <result column="product_name"  property="productName"/>
        <result column="product_price" property="productPrice"/>
        <result column="quantity"      property="quantity"/>
        <result column="total_price"   property="totalPrice"/>
        <result column="status"        property="status"/>
        <result column="created_at"    property="createdAt"/>
        <result column="updated_at"    property="updatedAt"/>
        <result column="expires_at"    property="expiresAt"/>
    </resultMap>

    <select id="getAllCart" resultMap="CartResultMap">
        SELECT * FROM cart WHERE status='ACTIVE'
    </select>
    <select id="getMyCart" parameterType="long" resultMap="CartResultMap">
        SELECT * FROM cart WHERE status='ACTIVE' AND member_id=#{memberId}
    </select>
    <select id="getBySessionToken" parameterType="string" resultMap="CartResultMap">
        SELECT * FROM cart WHERE status='ACTIVE' AND session_token=#{sessionToken}
    </select>
    <update id="updateCart" parameterType="com.fastcampus.shop.dto.CartDto">
        UPDATE cart
        <set>
            quantity    = quantity    + #{quantity},
            total_price = total_price + #{totalPrice},
            updated_at  = NOW()
        </set>
        WHERE status='ACTIVE'
        <if test="memberId != null"> AND member_id=#{memberId}</if>
        <if test="sessionToken != null"> AND session_token=#{sessionToken}</if>
        AND product_id=#{productId}
    </update>


    <insert id="insertCart" parameterType="com.fastcampus.shop.dto.CartDto" useGeneratedKeys="true" keyProperty="cartId">
        INSERT INTO cart (member_id, session_token, product_id, product_name, product_price, quantity, total_price, status, created_at, updated_at)
        VALUES (#{memberId}, #{sessionToken}, #{productId}, #{productName}, #{productPrice}, #{quantity}, #{totalPrice}, 'ACTIVE', NOW(), NOW())
    </insert>

        <!-- 장바구니 삭제 -->
        <delete id="deleteCart"
                parameterType="long">
            DELETE FROM loginout.cart
            WHERE cart_id = #{cartId}
              AND status  = 'ACTIVE'
        </delete>
</mapper>
