<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="QnaDto" type="com.fastcampus.shop.dto.QnaDto"/>
        <typeAlias alias="QnaCommentDto" type="com.fastcampus.shop.dto.QnaCommentDto"/>
        <typeAlias alias="SearchCondition" type="com.fastcampus.shop.dto.SearchCondition"/>
        <typeAlias alias="ProductListDto" type="com.fastcampus.shop.dto.ProductListDto"/>
        <typeAlias alias="MemberDto" type="com.fastcampus.shop.dto.MemberDto"/>
    </typeAliases>
</configuration>