<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.fastcampus.shop.dao.ProductMapper">

    <select id="detailPage" parameterType="String" resultType="com.fastcampus.shop.ProductDto.ProductDto" >

        select
        PD.product_detail_id AS productDetailId ,
        P.product_id AS productId,
         PD.product_detail_price AS productDetailPrice,
        PD.product_detail_quantity AS productDetailQuantity,
        PD.product_detail_description AS productDetailDescription ,
        PD.product_caution_level AS productCautionLevel,
        P.product_name AS productName,
        p.product_price as productPrice

        from product_detail PD
        INNER JOIN product P ON PD.product_id = P.product_id
        where PD.product_id = #{product_id}


    </select>

</mapper>