
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastcampus.shop.dao.ProductMapper">

    <select id="detailPage" parameterType="String" resultType="com.fastcampus.shop.productVO.ProductVO">
        SELECT
            PD.product_detail_id       AS productDetailId,
            P.product_id               AS productId,
            PD.product_detail_price    AS productDetailPrice,
            PD.product_detail_quantity AS productDetailQuantity,
            PD.product_detail_description AS productDetailDescription,
            PD.product_caution_level   AS productCautionLevel,
            P.product_name             AS productName,
            P.product_price            AS productPrice,
            P.product_image_url        AS imageUrl
        FROM loginout.product_detail PD
                 INNER JOIN loginout.product P ON PD.product_id = P.product_id
        WHERE PD.product_id = #{product_id}
    </select>

    <select id="list" resultType="com.fastcampus.shop.productVO.ProductVO">
        SELECT
            PD.product_detail_id       AS productDetailId,
            P.product_id               AS productId,
            PD.product_detail_price    AS productDetailPrice,
            PD.product_detail_quantity AS productDetailQuantity,
            PD.product_detail_description AS productDetailDescription,
            PD.product_caution_level   AS productCautionLevel,
            P.product_name             AS productName,
            P.product_price            AS productPrice,
            P.product_image_url        AS imageUrl
        FROM loginout.product_detail PD
                 INNER JOIN loginout.product P ON PD.product_id = P.product_id
    </select>

    <insert id="insert" parameterType="com.fastcampus.shop.productVO.ProductVO">
        INSERT INTO loginout.product_detail (
            product_id,
            product_detail_price,
            product_detail_quantity,
            product_detail_description,
            product_caution_level
        ) VALUES (
                     #{productId},
                     #{productDetailPrice},
                     #{productDetailQuantity},
                     #{productDetailDescription},
                     #{productCautionLevel}
                 )
    </insert>

    <update id="update" parameterType="com.fastcampus.shop.productVO.ProductVO">
        UPDATE loginout.product_detail
        SET
            product_detail_price       = #{productDetailPrice},
            product_detail_quantity    = #{productDetailQuantity},
            product_detail_description = #{productDetailDescription},
            product_caution_level      = #{productCautionLevel}
        WHERE product_detail_id = #{productDetailId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM loginout.product_detail
        WHERE product_detail_id = #{product_detail_id}
    </delete>
</mapper>
